<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>{{vm.details.app_name}}</h4>
      <div>
        <a class="btn btn-outline-info" ng-href="#!/frameworks/update/{{vm.details._id}}">
          <i class="far fa-edit"></i>
          Edit
        </a>
        <button class="btn btn-outline-danger" ng-click="vm.deleteApp(vm.details._id)">
          <i class="fas fa-trash"></i>
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>
      <strong>Description:</strong>
      {{vm.details.app_description}}
    </p>
    <p>
      <strong>Original author(s):</strong>
      <span ng-repeat="author in vm.details.authors">
        {{author.firstname}} {{author.lastname}},
      </span>
    </p>
    <p>
      <strong>Developer(s):</strong>
      <span ng-repeat="dev in vm.details.developpers"> {{dev.company}}, </span>
    </p>
    <p><strong>Initial Release:</strong>{{vm.details.initial_release | date }}</p>
    <p>
      <strong>Stable Release:</strong>{{vm.details.version}} / {{vm.details.stable_release | date }}
    </p>
    <p>
      <strong>Repository:</strong
      ><a href="https://github.com/{{vm.details.app_name}}" target="_blank"
        >https://github.com/{{vm.details.app_name}}</a
      >
    </p>
    <p>
      <strong>Written in:</strong>
      <span ng-repeat="lang in vm.details.languages"> {{lang.name}}, </span>
    </p>
    <p>
      <strong>Operating system:</strong>
      <span ng-repeat="os in vm.details.Os"> {{os.name}}, </span>
    </p>
    <p><strong>Type:</strong>{{vm.details.type}}</p>
    <p><strong>Licence:</strong>{{vm.details.licence}}</p>
    <p>
      <strong>Website:</strong
      ><a href="https://{{vm.details.app_name}}.org" target="_blank"
        >https://{{vm.details.app_name}}.org</a
      >
    </p>
  </div>
</div>
