<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center my-5">
    <li class="page-item">
      <a
        class="page-link"
        (click)="previousPage(currentPage)"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="setCurrentPage('1')">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="setCurrentPage('2')">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="setCurrentPage('3')">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="nextPage(currentPage)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
