html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 90px;
}

.padded {
  padding-top: 30px;
}

strong {
  margin-right: 0.5em;
}
h1 > a {
  text-decoration: none;
  color: #fff;
}

h1 > a:hover {
  color: #fff;
}

.auth a,
.auth span {
  color: #5bc0de;
}

.auth a:hover {
  color: #fff;
}

/* ****************************************************** */
/* ******************** search ************************** */
/* ****************************************************** */
.rainbow-text {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: #a3a3a3 3px 3px 1px;
  margin: 20px;
  text-align: center;
}
.rainbow-text .block-line > span {
  display: inline-block;
}

.input-group {
  width: 40%;
}

#search {
  background-color: #4e5d6c;
  border-radius: 20px 20px;
  font-size: 16px;
}

#search:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

#button-addon2 {
  border-radius: 20px 20px;
  border: none;
  margin-left: -40px;
  z-index: 20;
}

#button-addon2:hover {
  background-color: transparent;
  color: #6c757d;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.wordtype {
  color: #0645ad;
  font-size: 0.8em;
}

.btn:focus,
.secondary:focus,
.form-control:focus {
  box-shadow: none;
}

.form-control:focus {
  border-color: #6c757d;
}

/* ****************************************************** */
/* ******************** footer ************************** */
/* ****************************************************** */

main {
  padding-bottom: 5%;
}
footer {
  padding-top: 2%;
  background-color: #f2f2f2;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer span a {
  padding: 0.3em 0.7em;
  color: white;
  background-color: #70757a;
  border-radius: 50%;
  margin: 13px 3px;
  transition: all 500ms ease;
}

footer span a:hover {
  color: #3f494c;
  background-color: white;
}
footer p {
  margin: 0px;
  color: #3f494c;
  font-size: 13px;
  padding-bottom: 8px;
}

/* ****************************************************** */
/* ******************** register ************************** */
/* ****************************************************** */

.signup-content {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 85px;
}

.form-group {
  overflow: hidden;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222;
}
.form-input::-webkit-input-placeholder {
  color: #999;
}
.form-input::-moz-placeholder {
  color: #999;
}
.form-input:-ms-input-placeholder {
  color: #999;
}
.form-input:-moz-placeholder {
  color: #999;
}
.form-input::-webkit-input-placeholder {
  font-weight: 500;
}
.form-input::-moz-placeholder {
  font-weight: 500;
}
.form-input:-ms-input-placeholder {
  font-weight: 500;
}
.form-input:-moz-placeholder {
  font-weight: 500;
}
.form-input:focus {
  border: 1px solid transparent;
  -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
  -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
  -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
  border-image-source: linear-gradient(to right, #9face6, #74ebd5);
  -webkit-border-image-slice: 1;
  border-image-slice: 1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.form-input:focus::-webkit-input-placeholder {
  color: #222;
}
.form-input:focus::-moz-placeholder {
  color: #222;
}
.form-input:focus:-ms-input-placeholder {
  color: #222;
}
.form-input:focus:-moz-placeholder {
  color: #222;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #222;
  font-family: 'Montserrat';
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.clear {
  clear: both;
}

.loginhere {
  color: #555;
  font-weight: 500;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 5px;
}

.loginhere-link {
  font-weight: 700;
  color: #222;
}

.form-submit {
  width: 100%;
  border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
  background-image: linear-gradient(to left, #74ebd5, #9face6);
}

/* ****************************************************** */
/* ******************** media ************************** */
/* ****************************************************** */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .input-group {
    width: 90%;
  }
}
